<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <script>
    function resetPassword() {
      newPassword = document.getElementById("newPassword").value;
      confirmPassword = document.getElementById("confirmPassword").value;
      var request = new XMLHttpRequest();
      if (newPassword.length == 0 && confirmPassword.length == 0) {
        $("#message")
          .html(
            '<i class="fas fa-exclamation-triangle"></i><strong> Please Enter All Details !</strong>'
          )
          .addClass("alert alert-danger alert-dismissible");
        $("#message").show();
      } else if (newPassword.length < 6 && confirmPassword.length < 6) {
        $("#message")
          .html(
            '<i class="fas fa-exclamation-triangle"></i><strong> Password must be 6 character long. !</strong>'
          )
          .addClass("alert alert-danger alert-dismissible");
        $("#message").show();
      } else {
        fetch(
          "http://ec2-18-222-223-24.us-east-2.compute.amazonaws.com/updatePasswordViaEmail/<%= _id%>",
          {
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
              newPassword: newPassword,
              confirmPassword: confirmPassword
            }),
            method: "POST"
          }
        )
          .then(data => {
            return data.json();
          })
          .then(res => {
            console.log(res);
            if (res.status == "Success") {
              $("#message").removeClass();
              $("#message")
                .html(
                  '<i class="fas fa-smile"></i><strong> Your Password is Successfully Change!</strong>'
                )
                .addClass("alert alert-success alert-dismissible");
              $("#message").show();
            } else {
              $("#message")
                .html(
                  '<i class="fas fa-frown"></i><strong> Your Password Dose Not Match !</strong>'
                )
                .addClass("alert alert-danger alert-dismissible");
              $("#message").show();
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  </script>
  <title>Reset Password</title>
  <body>
    <div align="center" style="padding-top: 10em">
      <div id="message" style="widows: 24em;"></div>

      <div class="card text-center" style="width: 24em;">
        <div class="card-header card-title">
          Reset Password
        </div>
        <div class="card-body ">
          <form action="#">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-lock"></i
                ></span>
              </div>
              <input
                name="newPassword"
                type="password"
                class="form-control"
                placeholder="New Password"
                id="newPassword"
                aria-label="newPassword"
                aria-describedby="basic-addon1"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-lock"></i
                ></span>
              </div>
              <input
                name="confirmPassword"
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="Confirm  Password"
                aria-label="confirmPassword"
                aria-describedby="basic-addon1"
                required
              />
            </div>

            <button
              type="button"
              onclick="resetPassword()"
              class="btn btn-primary"
            >
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- <html>
  <head> </head>
  <body>
    welcome <%= _id%>
  </body>
</html> -->
