<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Verify Confirm</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <title>E-mail Not Verifyed</title>
  <body>
    <div class="container text-center">
      <div class="jumbotron">
        <img
          src="http://ec2-18-222-223-24.us-east-2.compute.amazonaws.com/GroupImage/Logo.png"
          style="width:370px; height: 310px;"
        />
        <h2><b style="color:red">Your account is Not Verifyed</b></h2>
      </div>
    </div>
  </body>
</html>
